# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE configs
.vscode/
.idea/

# OS files
*.log
Thumbs.db
.DS_Store
run_id.json
